.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 0 2px 0 2px;
	border: 1px solid black;
	width: 85px;
	height: 20px;
}

.button:hover {
	cursor: pointer;
}

.game-list-item {
	margin: 2px 0 2px 0;
}

.resume-game {
	display: inline;
}

.cancel-game {
	display: inline;
}

#container {
	width: 800px;
	margin: auto;
}

#username-div {
	display: flex;
	flex-wrap: wrap;
}

#username-header {
	margin: 0 0 20px 0;
}

#logout-btn {
	margin-left: auto;
}

#login-div {
	display: flex;
	flex-wrap: wrap;
}

#homescreen-div {
	background-color: lightyellow;
}