.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 0 2px 0 2px;
	border: 1px solid black;
	width: 85px;
}

.button:hover {
	cursor: pointer;
}

.game-item {
	display: flex;
	flex-wrap: wrap;
	margin: 2px 0 2px 0;
}

#container {
	width: 800px;
	margin: auto;
}

#login-div {
	display: flex;
	flex-wrap: wrap;
}

#homescreen-div {
	background-color: lightyellow;
}