body {
    font-family: 'Crimson Text', serif, Georgia, serif;
}

h1, h3 {
	font-family: 'Playfair Display', serif, "Times New Roman", Times, serif;
}

.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 0 2px 0 2px;
	border: 1px solid black;
	width: 85px;
	height: 20px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.button:hover {
	cursor: pointer;
}

.board-title {
	font-size: 1.5em;
}

.game-list-item {
	margin: 10px 0 10px 0;
}

.resume-game {
	display: inline;
}

.cancel-game {
	display: inline;
}

.row-div {
	display: flex;
	flex-wrap: wrap;
}

.col-div {
	width: 25px;
	height: 25px;
	margin: 1px 1px 1px 1px;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.miss {
	background-color: darkblue;
}

.carrier {
	background-color: grey;
}

.battleship {
	background-color: orange;
}

.cruiser {
	background-color: green;
}

.submarine {
	background-color: lightblue;
}

.destroyer {
	background-color: yellow;
}

.red-light {
	background-color: red;
	width: 10px;
	height: 10px;
	margin: 2px 2px 2px 2px;
	align-self: center;
	border-radius: 20px;
}

.green-light {
	background-color: green;
	width: 10px;
	height: 10px;
	margin: 2px 2px 2px 2px;
	align-self: center;
	border-radius: 20px;
}

.ship {
	display: flex;
	flex-direction: row;
}

.hull-section {
	width: 25px;
	height: 25px;
	background-color: gray;
	margin: 1px 1px 1px 1px;
}

.placed {
	color: green;
}

.board {
	min-width: 300px;
}

.score-div {
	margin: 0 5px 0 5px;
	background-color: lightyellow;
}

#whole-page {
	width: 800px;
	margin: auto;
}

#username-div {
	display: flex;
	flex-wrap: wrap;
}

#username-header {
	margin: 0 0 20px 0;
}

#home-btn {
	margin-left: auto;
}

#logout-btn {
	margin-left: auto;
}

#login-div {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}

#homescreen-div {
	background-color: lightyellow;
}

#place-ships-div {
	display: flex;
	flex-wrap: wrap;
}

#place-ships-upper {

}

#place-ships-lower {
	display: flex;
}

#orientation-div p {
	margin: auto;
}

#orientation-btn {
	font-size: 4em;
	text-align: center;
}

#orientation-btn:hover {
	cursor: pointer;
}

#ship-placements-div {
	color: red;
}

#game-boards {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

#user-chart {
	order: 1;
}

#user-board {
	order: 2;
}

#health-div {
	float: right;
}

#result-div {
	float: right;
	font-weight: bold;
	w
}

#all-scores-div {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 350px) {
	#container {
		width: 300px;
	}
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
	#container {
		width: 350px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
	#container {
		width: 400px;
		margin: auto;
	}
}